development/de.thm.icampus.joomdd.ejsl.parent/de.thm.icampus.joomdd.ejsl.tests/testdata/install.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="extension">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="author"/>
        <xs:element type="xs:string" name="authorEmail"/>
        <xs:element type="xs:anyURI" name="authorUrl"/>
        <xs:element type="xs:short" name="creationDate"/>
        <xs:element type="xs:string" name="copyright"/>
        <xs:element type="xs:string" name="license"/>
        <xs:element type="xs:string" name="version"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element type="xs:string" name="scriptfile"/>
        <xs:element name="install">
          <xs:annotation>
            <xs:documentation>Install Section</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sql">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="file">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="driver"/>
                            <xs:attribute type="xs:string" name="charset"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="uninstall">
          <xs:annotation>
            <xs:documentation>Uninstall Section</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sql">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="file">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="driver"/>
                            <xs:attribute type="xs:string" name="charset"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="update">
          <xs:annotation>
            <xs:documentation>Update Section</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="schemas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="schemapath">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="type"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="media">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="folder" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="filename"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="destination"/>
            <xs:attribute type="xs:string" name="folder"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="files">
          <xs:annotation>
            <xs:documentation>Site Main File Copy Section</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="filename" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="folder" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Additional Files</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="folder"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="languages">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="language" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="tag" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="administration">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="menu">
                <xs:annotation>
                  <xs:documentation>Administration Menu Section</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="submenu">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="menu" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="link" use="optional"/>
                            <xs:attribute type="xs:string" name="alias" use="optional"/>
                            <xs:attribute type="xs:string" name="view" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="files">
                <xs:annotation>
                  <xs:documentation>Administration Main File Copy Section</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="filename" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Admin Main File Copy Section</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="folder" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>SQL Files Section  Table Files Section  Model Files Section  View Files Section</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="folder"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="languages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="language" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="tag" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:string" name="method"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

