javacpd/src/de/thm/mni/ii/data/data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pmd-cpd">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="duplication" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="file" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:byte" name="line" use="optional"/>
                                            <xs:attribute type="xs:string" name="path" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="codefragment"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="lines" use="optional"/>
                        <xs:attribute type="xs:byte" name="tokens" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>